<!DOCTYPE html>
<html ng-app="shark">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <!-- injector:css -->
            <link rel="stylesheet" href="/css/vendor.min.css">
            <link rel="stylesheet" href="/css/shark.min.css">
            <!-- endinjector -->

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}

            <!-- injector:js -->
            <script src="/js/vendor.min.js"></script>
            <script src="/js/shark/app.js"></script>
            <script src="/js/shark/app.config.js"></script>
            <script src="/js/component/struct/directive/button.js"></script>
            <!-- endinjector -->

        {% endblock %}
    </body>
</html>
