{% extends 'base.html.twig' %}

{% block body %}

    {{ include('AppBundle:Component:navbar.html.twig') }}

    <div class="container">
        <h4 class="text-xs-center">Hi</h4>
        <button class="btn btn-info">
            Yeah
        </button>

        <button class="btn btn-info">
            Yeah
        </button>

        <button class="btn btn-info">
            Yeah
        </button>

        <button class="btn btn-info">
            Yeah
        </button>

        <button class="btn btn-info">
            Yeah
        </button>
    </div>

{% endblock %}
